<div class="sidebar">
    <div><a class="sidebarLink" asp-area="" asp-controller="Home" asp-action="Index">Home</a></div>
    <div><a class="sidebarLink" asp-area="" asp-controller="Home" asp-action="About">About</a></div>
    <div><a class="sidebarLink" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></div>
</div>